<section id="inicio">
    <div class="contenido">  
        <div class="presentacion">
            <p class="bienvenida">Bienvenidos</p>
            <h2>Soy <span>Javier Cangahuala</span>, Desarrollador Web</h2>
            <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, </p>
            <!-- <a class="porta" href="pages/portafolio.html">Ir a Portafolio</a> -->
        </div>
    </div>
</section>

<section id="sobremi">
    <div class="contenedor-foto">
        <img src="../../../assets/dist/img/foto.jpg" alt="">
    </div>
    <div class="sobremi">
        <p class="titulo-seccion">Sobre Mi</p>
        <h2>Hola, Soy <span>Javier Cangahuala</span> </h2>
        <h3>Desarrollador Web</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur reprehenderit voluptatibus blanditiis nulla adipisci iste fuga expedita, ea exercitationem dicta, similique rem, atque soluta recusandae ipsam autem. Sapiente, quo ducimus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natus.</p>
        <a href="" download="cv"> <button type="button" class="cv btn btn-outline-dark">Descargar CV</button></a>
    </div>
</section>
